# python venv
devenv
myenv

# videos
outputs
inputs
*.mp4

# lambda environment
tmp

# cache
.DS_Store
__pycache__

# deploy
deploy

# client
client/__pycache__
client/config.ini

# app
app/config.ini

# s3presignedurl
s3presignedurl/config.ini

# memo
thingstodo.txt

# vscode
.vscode